body {
  background-color: rgb(243, 241, 241);
}

.brand {
  padding-top: 40px;
  font-size: 60px;
  font-weight: 700;
  color: rgb(33, 33, 136);
}

.left-image {
  height: 450px;
  position: relative;
  top: 170px;
  left: 20px;
}

.login-text {
  position: relative;
  top: 200px;
}

.welcome-text {
  color: rgb(33, 33, 136);
  font-size: 40px;
  font-weight: 700;
  width: max-content;
  text-align: left;
  position: relative;
  left: 50px;
}

.signup-text {
  text-align: left;
  color: grey;
  font-size: 35px;
  position: relative;
  top: 1px;
  width: max-content;
}

.button {
  background-color: white;
  position: relative;
  left: 60px;
  top: 50px;
}

.button-text {
  color: rgb(139, 139, 139);
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 5px;
}

.google {
  height: 40px;
  float: left;
}
